
@media screen and (min-width:768px) and (max-width:960px)
{
    body{
        box-sizing: border-box;
        /* background-color: red; */
        height: 700px;
        width:980px!important;
    }
    div{
        border:1px solid black !important;
        /* border:none!important; */
    }
    div:nth-of-type(1){
        /* a */
        width: 960px !important;
        height: 100px!important;
        line-height: 100px!important;
        float: left;
        }
    div:nth-of-type(2){
        /* b */
        width: 200px!important;
        height: 600px!important;
        line-height: 150px!important;
        float: left;
    }
    div:nth-of-type(3){
        /* c */
        width: 380px!important;
        height: 200px!important;
        line-height: 125px!important;
        float: left;
    }
    div:nth-of-type(4){
        /* d */
        width: 380px!important;
        height: 200px!important;
        line-height: 125px!important;
        float: left!important;
    }
    div:nth-of-type(5){ 
        /* e */
        width: 190px!important;
        height: 250px!important;
        line-height: 250px!important;;
        float: left!important;
    }
    div:nth-of-type(6){
        /* f */
        width: 190px!important;
        height: 250px!important;
        line-height: 250px!important;;
        float: left!important;
    }
    div:nth-of-type(8){
        /* g */
        width: 190px!important;
        height: 250px!important;
        line-height: 250px!important;
        float: left!important;
    }
    div:nth-of-type(9){
        /* h */
        width: 190px!important;
        height: 250px!important;
        line-height: 250px!important;
        float: left!important;
    }
    div:nth-of-type(11){
        /* i */
        width: 760px!important;
        height: 150px!important;
        line-height: 150px!important;
        float: left;
    }
    div:nth-of-type(7),div:nth-of-type(10){
        display:none!important;
    }
}
body{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
}
div {
    background-color: #D8D8D8;
    text-align: center;
    border: 1px solid black;
}
div:nth-of-type(1){
    width: 480px;
    height: 75px;
    line-height: 75px;
}
div:nth-of-type(2){
    width: 480px;
    height: 150px;
    line-height: 150px;
}
div:nth-of-type(3){
    width: 480px;
    height: 125px;
    line-height: 125px;
}
div:nth-of-type(4){
    width: 480px;
    height: 125px;
    line-height: 125px;
}
div:nth-of-type(5)
{
    width: 240px;
    height: 50px;
    line-height: 50px;
    float: left;
}
div:nth-of-type(6)
{
    width: 240px;
    height: 50px;
    line-height: 50px;
    float: left;
}
.clearfix{
    clear: both;
}
div:nth-of-type(8)
{
    width: 240px;
    height: 50px;
    line-height: 50px;
    float: left;
}
div:nth-of-type(9)
{
    width: 240px;
    height: 50px;
    line-height: 50px;
    float: left;
}
div:nth-of-type(11)
{
    width: 480px;
    height: 80px;
    line-height: 80px;
}
div:nth-of-type(7),div:nth-of-type(10){
    border:none!important;
}
