@media screen and (min-width:768px)
{
    main{
        margin: 0 auto;
        max-width: 100%;
        /* to make screen max as 960px  */
        /* max-width: 960px; */
    }
    div{
        /* background-color: #D8D8D8; */
        text-align: center;
        box-sizing: border-box;
        border:1px solid black;
    }
    div:nth-of-type(1){
        width: 100%;
        height: 100px;
        line-height: 100px;
        float: left;
        background-color:lightblue;
    }
    div:nth-of-type(2){
        width: 20%;
        height: 600px;
        line-height: 150px;
        float: left;
        background-color: lightgreen;
    }
    div:nth-of-type(3){
        width: 40%;
        height: 200px;
        line-height: 200px;
        float: left;
        background-color: lightpink;
    }
    div:nth-of-type(4){
        width: 40%;
        height: 200px;
        line-height: 200px;
        float: left;
        background-color: seagreen;
    }
    div:nth-of-type(5){ 
        width: 20%;
        height: 250px;
        line-height: 250px;
        float: left;
        background-color: lightskyblue ;
    }
    div:nth-of-type(6){
        width: 20%;
        height: 250px;
        line-height: 250px;
        float: left;
        background-color: lime;
    }
    div:nth-of-type(7){
        width: 20%;
        height: 250px;
        line-height: 250px;
        float: left;
        background-color: mediumorchid;
    }
    div:nth-of-type(8){
        width: 20%;
        height: 250px;
        line-height: 250px;
        float: left;
        background-color: lawngreen;
    }
    div:nth-of-type(10){
        width: 80%;
        height: 150px;
        line-height: 150px;
        float: left;
        background-color: sandybrown;
    }
    div:nth-of-type(9){
        border:none;
    }
}
/* mobile screens*/
@media screen and (max-width:767px){
    main{
        margin: 0 auto;
        max-width: 100%;
        /* to make the screen only 767px max */
        /* max-width: 767px;  */

    }
    div {
        background-color: #D8D8D8;
        text-align: center;
        box-sizing: border-box;
        border:1px solid black;
    }
    div:nth-of-type(1){
        width: 100%;
        height: 75px;
        line-height: 75px;
        float: left;
        background-color: sienna;
    }
    div:nth-of-type(2){
        width: 100%;
        height: 150px;
        line-height: 150px;
        float: left;
        background-color: tomato;
    }
    div:nth-of-type(3){
        width: 100%;
        height: 125px;
        line-height: 125px;
        float: left;
        background-color: yellow;
    }
    div:nth-of-type(4){
        width: 100%;
        height: 125px;
        line-height: 125px;
        float: left;
        background-color: turquoise;
    }
    div:nth-of-type(5)
    {
        width: 50%;
        height: 50px;
        line-height: 50px;
        /*box-shadow: 
        2px 0 0 0 #888, 
        0 2px 0 0 #888, 
        2px 2px 0 0 #888,   Just to fix the corner */
        /* 2px 0 0 0 #888 inset, 
        0 2px 0 0 #888 inset; */
        float: left;
        background-color: slateblue;
    }
    div:nth-of-type(6)
    {
        width: 50%;
        height: 50px;
        line-height: 50px;
        /*box-shadow: 
        2px 0 0 0 #888, 
        0 2px 0 0 #888, 
        2px 2px 0 0 #888,   Just to fix the corner */
        /* 2px 0 0 0 #888 inset, 
        0 2px 0 0 #888 inset; */
        float: left;
        background-color: indigo;
    }
    .clearfix{
        clear: both;
    }
    div:nth-of-type(7)
    {
        width: 50%;
        height: 50px;
        line-height: 50px;
        float: left;
        background-color: lavender;
    }
    div:nth-of-type(8)
    {
        width: 50%;
        height: 50px;
        line-height: 50px;
        float: left;
        background-color: saddlebrown;
    }
    div:nth-of-type(10)
    {
        width: 100%;
        height: 80px;
        line-height: 80px;
        background-color: salmon;
    }
    div:nth-of-type(9){
        border:none;
    }
}